<% include header%>

<br>
    <center>
        <h1 style="color: red;">Requested Page Not Found</h1>
    </center>
<h1><%= message %></h1>
<!-- <h2><%= error.status %></h2>
<pre><%= error.stack %></pre> -->

