
<% include header%>

<center>
<br>
<br>
<br>
<br>
    
  

  <div class="container">
    <div class="jumbotron" style="padding: 10px;">
      <h3 style="color: red;">Logging Out...</h3>
      <p>See you Soon</p>
    </div>
  </div>

</center>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<% include footer%>
